<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cleen</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../static/homepage.css">
  <link rel="stylesheet" href="../../static/darkcode.css">
  <link rel="stylesheet" href="../../static/header.css">
  <link rel="stylesheet" href="../../static/nav.css">
  <link rel="stylesheet" href="../../static/first_tab.css">
  <link rel="stylesheet" href="../../static/left_content.css">
  <link rel="stylesheet" href="../../static/right_content.css">
  <link rel="stylesheet" href="../../static/carousel.css">
  <link rel="stylesheet" href="../../static/footer.css">
  <link rel="stylesheet" href="../../static/question.css">
  <link rel="stylesheet" href="../../static/cleen_home.css">
  <link rel="stylesheet" href="../../static/donation.css">






  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  {% include 'metadata.html' %}

</head>

<body>
  {% include 'header.html' %}

  <div id="banner">
    <span class="text_style">DONATING MONEY</span>
  </div>

  {% include 'navbar.html' %}
  <div id="content">
    <div id="left">
      <div id="top_layout">
        Help Us Raise Money
      </div>
      <div id="paragraph">
        Last year, we tried to raise fund by selling clean bags and we have successfully collected over <b
          class="red">26 million vnd</b> to buy and install <b class="red">50 unsmoky stoves</b>  for the Phu Ly village.
        <br><br>
        This year, we want to expand our influence and provide more adequate support for all the families in the village
        that <b class="red">cannot access</b> to clean water.
        <br><br>
        <b class="weight"> This is why we really expect to receive some money from benefactors to realize our dream.</b>
      </div>

      <div id="bank_account">
        <div id="account">
          Account number: 0011000065269
          <br>
          Account name: Tang Thi Hong Thuy
        </div>
        <div id="description">
          Installing water filters to bring clean water to poor families
        </div>
        <div id="location">
          <div id="account_left">
              <i class="icon fas fa-map-marker-alt"></i>
          </div>
          <div id="account_right">
            Dong Da, Ha Noi - Phu Ly, Ha Nam
          </div>
      
        </div>

      </div>
      <div class="image">
          <img src="https://bit.ly/2JGM7FE" alt="" class="img">
      </div>
      <div class="image">
        <img src="https://bit.ly/2JFjWH6" alt="" class="img">
      </div>
    
    </div>
    {% include 'content_right.html' %}
  </div>
  {% include 'footer.html' %}
</body>

</html>