<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cleen</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../../static/homepage.css">
  <link rel="stylesheet" href="../../static/darkcode.css">
  <link rel="stylesheet" href="../../static/header.css">
  <link rel="stylesheet" href="../../static/nav.css">
  <link rel="stylesheet" href="../../static/first_tab.css">
  <link rel="stylesheet" href="../../static/left_content.css">
  <link rel="stylesheet" href="../../static/right_content.css">
  <link rel="stylesheet" href="../../static/carousel.css">
  <link rel="stylesheet" href="../../static/footer.css">
  <link rel="stylesheet" href="../../static/cleen_home.css">




  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  {% include 'metadata.html' %}

</head>

<body>
  {% include 'header.html' %}


  <div id="banner">
    <span class="text_style">CLEEN NEWS</span>
  </div>

  {% include 'navbar.html' %}

  {% include 'carousel.html'%}

  <div id="content">
    {% include 'content_left.html' %}
    {% include 'content_right.html' %}
  </div>


  {% include 'footer.html' %}

  <script src="../../static/javascript/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>