<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cleen</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/homepage.css">
    <link rel="stylesheet" href="../../static/darkcode.css">
    <link rel="stylesheet" href="../../static/header.css">
    <link rel="stylesheet" href="../../static/nav.css">
    <link rel="stylesheet" href="../../static/first_tab.css">
    <link rel="stylesheet" href="../../static/left_content.css">
    <link rel="stylesheet" href="../../static/right_content.css">
    <link rel="stylesheet" href="../../static/carousel.css">
    <link rel="stylesheet" href="../../static/footer.css">
    <link rel="stylesheet" href="../../static/question.css">
    <link rel="stylesheet" href="../../static/cleen_home.css">



  
  
  
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    {% include 'metadata.html' %}
  
  </head>
<body>
    <div id="header">
        <div id="header_left">
          <span class="text_style">Welcome to Cleen Website</span>
        </div>
        <div id="header_right">
          <span class="text_style_1">Current Status</span>
          <a class="login text_style left" href="{{url_for('home')}}"> Cleen News</a>
          <a class="login text_style" href="{{url_for('cleenproject')}}"> Cleen Project</a>
    
        </div>
      </div>

      <div id="banner">
          <span class="text_style">QUESTIONS AND ANSWERS</span>
        </div>

        {% include 'navbar.html' %}
        <div id="content">
        <div id="left">
          <span> Do you have any questions for us?</span> 
          <form method="post">
            <div class="form-group">
              <input name="question" type="text" class="form-control form-control_1" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter your question" style ="height:100px;align-items: flex-start;display: flex;">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>

          
        </div>
          {% include 'content_right.html' %}
          </div>
          {% include 'footer.html' %}
</body>
</html>