.carousel_content{
  position: absolute;
  bottom:180px;
  right:220px;
  background-color: rgba(51, 51, 51,0.8);
  padding-right:100px;
  padding-left:50px;
  padding-top:80px;
  padding-bottom:120px;
  color:white;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
#carousel_readmore{
  position: absolute;
  padding-right:13px;
  padding-left:13px;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:10px;
  border:1px #e5b11b solid ;
  border-radius: 40px;
  z-index: 4;


}

.carousel_content>h2{
  position: relative;
  color: #ffffff;
  font-size: 40px;
  line-height: 1.3em;
  font-weight: 700;
  margin-bottom: 12px;
}
.carousel_content>h3{
    font-weight: 400;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.8em;
    margin-bottom: 25px;
}
#carousel_readmore:hover{
color: #e5b11b;
background-color:white;

}
.carousel_content>a:link{
  color:white;
}

.carousel-item{
  width: 100vw;
  height: 100vh;
  position: relative;
}
.background1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('http://mediad.publicbroadcasting.net/p/michigan/files/styles/x_large/public/201801/8583949219_d565d18edf_o.png');
  background-repeat: no-repeat;         
  background-size: cover;
  z-index: 1;
}

.background1::after {
  content:"";
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.10)

}
.background4 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;         
  background-size: cover;
  z-index: 1;
}

.background4::after {
  content:"";
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.10)

}
.picture{
  z-index: 3;
}

