* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}



#banner {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 70px;
  font-weight: 900;
  color:#406F8D;
}

#banner>span {
  font-size: 50px;
}

#navbar {
  width: 100%;
  height: 70px;
  display:flex;
  flex-direction: row;
  border-top:0.7px solid #f0f0f5;
}

#navbarSupportedContent {
  
}

#carousel {
  width: 100%;
  position: relative;
}

#content {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  background-color: #f9f7f5;
}

#left {
  margin: 10px;
  width: 75%;
  height: auto;
  background-color: #f9f7f5;
}

#right {
  margin: 10px;
  width: 25%;
  /* height: 2000px; */
  /* background-color: mediumorchid; */
}

#navbarMarkup {
  position: relative;
}

#login {
  position: absolute;
  right: 0;
}
.text_style{
  font-family: 'Poppins', sans-serif;

}

#big_khung_news > a {
  
  
}
a{
  color:white;

}
