<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/footer.css">
  <title>Document</title>
</head>
<body>
  <div id="footer">
    <div id="left_footer">
      <ul class="info">
        <li class="big_text li text_style">CONTACT INFO</li>
        <li class="li">
          <i class="icon fas fa-map-marker-alt"></i>
          <span class="address small_text text_style">Address:Tầng 6 22 Thành Công quận Ba Đình, Hà Nội</span>
        </li>
        <li class="li">
          <i class="icon fas fa-mobile-alt"></i>
          <span class="phone small_text text_style">Phone:+84 986140102</span>
        </li>
        <li class="li">
          <i class="icon far fa-envelope"></i>
          <span class="mail small_text text_style">Mail:nnquang.1412@gmail.com</span>
        </li>
        <li class="li">
          <i class="icon fab fa-facebook-f"></i>
          <span class="facebook small_text text_style">Facebook:https://www.facebook.com/quang.sot.1412</span>
        </li>
      </ul>
      <div id="social_button">
        <i class="fab fa-twitter fab1"></i>
        <i class="fab fa-facebook fab1"></i>
        <i class="fab fa-instagram fab1"></i>
        <i class="fab fa-google fab1"></i>
      </div>
    </div>
    <div id="right_footer">
      <span class="big_text text_style">HELP US PROTECT THE ENVIRONMENT</span>
      <div class="signup_button text_style">
        <form method="post">
          <!-- Add new 22/3 -->
          <!-- Để phân biệt loại -->
          <input style="display: none" checked type="radio" name="type" value="signupEmail">
          <!-- <input style="display: none" checked type="radio" name="type" value="create"> -->
          <!-- Xu ly khi 1 trang co nhieu form -->
          <!-- Add New 22/3 -->
          <div class="form-group">
            <label for="exampleFormControlInput1">Email address</label>
            <input type="email" name="emailSignUp" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
      </div>
      <div class="smalltext text_style">Sign Up and join us to do amazing projects and save the environment</div>
    
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

</body>
</html>